<!doctype html>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">


    <nav class=" -expand-lg -light bg-light">
      <a class="-brand" href="/">Reddit.js</a>
      <button class="-toggler" type="button" data-toggle="collapse" data-target="#SupportedContent" aria-controls="SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="-toggler-icon"></span>
      </button>
    </nav>

            </nav>
</ul>
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            {{/if}}
            {{#if currentUser}}
            <li><a href="/posts-new" class="btn btn-primary navbar-btn">New Post</a></li>
            {{/if}}
        </ul>
                  </div>
