<div class="row">
  {{#each posts}}
  <div class="col-sm-6 col-sm-offset-3">

        <a href="{{this.url}}" class="lead">{{this.title}}</a>
        <p>{{this.summary}}</p>
  </div>
</div>
    <form action="/posts/{{this._id}}/comments" method="post">
       <textarea class='form-control' name="content" placeholder="Comment"></textarea>
       <div class="text-right">
         <button type="submit" class="btn btn-primary">Save</button>
       </div>
     </form>
 {{/each}}
